<h1>Add Actor</h1>

<form action = "/create_actor">
  <div>
    <label for="name">
      Name
    </label>
    <div>
      <input type="text" id="name" name="name" placeholder="Name">
    </div>
  </div>

  <div>
    <label for="dob">
      Date of Birth
    </label>
    <div>
      <input type="text" id="dob" name="dob" placeholder="Date of Birth">
    </div>
  </div>

  <div>
    <label for="bio">
      Biography
    </label>
    <div>
      <textarea id="bio" name="bio" placeholder="Biography">
      </textarea>
    </div>
  </div>

  <div>
    <label for="image_url">
      Image URL
    </label>
    <div>
      <input type="text" id="image_url" name="image_url" placeholder="Image URL">
    </div>
  </div>

  <div>
    <div>
      <input type="submit" value="Create Actor">
    </div>
  </div>

</form>
